@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}

body {
	color: white;
	background-color: black;
}

body > h2:nth-child(1) {
	font-family: Inter;
	font-size: 30px;
	font-weight: 400;
	line-height: 58px;
	letter-spacing: 0em;
	text-align: left;
	margin-left: 60px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.input-tags {
	display: grid;
	grid-template-columns: repeat(3, 25%);
	justify-content: flex-start;
	margin-left: 60px;
	column-gap: 40px;
	row-gap: 30px;
}

.input-tags input {
	color: white;
	padding: 10px;
	font-family: Inter;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;
	background-color: black;
}

#button {
	background-color: white;
	width: 35%;
	margin-left: 60px;
	padding: 10px;
	margin-top: 30px;
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: center;
	cursor: pointer;
}

#search {
	margin-left: 60px;
	color: white;
	width: 80%;
	padding: 10px;
	margin-top: 60px;
	font-family: Inter;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	background-color: black;
}

#table {
	width: 80%;
	margin-left: 60px;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: left;
}

td,
th,
table {
	padding: 15px;
	border-collapse: collapse;
}

td,
th {
	border-left: 1px solid white;
}

#table,
tbody {
	border: 1px solid white;
}

/* no needed line */
#table > thead:nth-child(1) > tr:nth-child(1) > th:nth-child(6) {
	display: flex;
}

#table > tbody:nth-child(2) > tr > td:nth-child(6) {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.editors {
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

.editors img {
	width: 18px;
}
